@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Snow';
    src: url('fonts/SnowtopCaps.otf') format(opentype);
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    color: black;
}
h1{
    font-family: 'Snow', Times, sans-serif;
    font-size: 3em;
}
h2{
    font-family: 'Kaushan Script', sans-serif;
    font-size: 1.5em;
}